.landing-view {
  background: url("./img/bg2.jpg") no-repeat center center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.landing-content {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  right: 5%;
  transform: translate(-10%, -50%);
  background: transparent;
}

.landing-content h3,
.landing-content p,
.landing-content h2,
.landing-grid {
  background: transparent;
}

.landing-content h3 {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 2;
}

.landing-content h2 {
  font-size: 1.7rem;
  font-weight: 500;
}

.landing-content p {
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 1rem;
}

.landing-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-top: 1.3rem;
}

.btn-blue {
  background: rgb(0, 98, 255);
  color: white;
  font-weight: 500;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
}

.btn-blue:hover {
  background: rgb(4, 85, 214);
}

.btn-outline {
  border: 1px solid black;
  padding: 5px;
  border-radius: 3px;
  height: 50% !important;
  display: flex;
}

.nav-links i {
  font-size: 10px;
}

.text-container {
  padding: 50px;
}

.text-container h3 {
  font-size: 1.9rem;
  font-weight: 500;
  text-align: center;
  margin-top: 2rem;
  max-width: 850px;
  margin: auto;
}

.ms-office {
  display: flex;
  justify-content: flex-start;
}

.office {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  /* border: 1px solid black; */
  cursor: pointer;
  margin-bottom: 5px;
  z-index: 1;
}

.office:hover {
  box-shadow: 0px 0px 10px 3px rgb(187, 187, 187);
}

.left-ms-office {
  display: grid;
  grid-template-columns: 450px;
}

.office > i {
  margin-right: 12px;
}

.ms-office-content {
  display: flex;
  flex-direction: column;
}

.ms-office-content img {
  width: 35px;
  height: 40px;
  margin-right: 12px;
}

.ms-office-content div:first-child {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

.right-ms-office {
  position: relative;
  width: 100%;
  margin-left: 1rem;
}

.word {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.word img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  padding: 1.2rem;
  display: none;
}
.ms-office-content div:nth-child(2) {
  display: none;
}

.show {
  display: block !important;
}

.active2 {
  display: grid !important;
  z-index: 100;
  animation: op 1s ease-in-out forwards;
}

@keyframes op {
  from {
    opacity: 0;
    top: 10%;
  }
  to {
    opacity: 1;
    top: 0%;
  }
}

.last {
  margin-bottom: 3rem;
}

.last-section-container p {
  max-width: 800px;
}

.last-section-container::after {
  background: white;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}

.card-grid-1,
.card-grid-2,
.card-grid-3 {
  display: flex;
  flex-direction: column;
  color: white;
  position: relative;
  width: 100%;
}

.card-body1 {
  background-color: #d83b01;
  height: 317px;
}
.card-body2 {
  background-color: #0078d4;
  height: 317px;
}
.card-body3 {
  background-color: #7719aa;
  height: 317px;
}

.card-body {
  width: 90%;
  margin: -50px auto;
  margin-bottom: 2rem;
}

.card-head1 {
  display: flex;
  justify-content: center;
  box-shadow: 0 0.375rem 0.875rem 0 rgba(0, 0, 0, 0.13),
    0 0.0625rem 0.25rem 0 rgba(0, 0, 0, 0.11) !important;
  padding: 20px;
  align-items: center;
  cursor: pointer;
}
.card-head2 {
  display: flex;
  justify-content: center;
  box-shadow: 0 0.375rem 0.875rem 0 rgba(0, 0, 0, 0.13),
    0 0.0625rem 0.25rem 0 rgba(0, 0, 0, 0.11) !important;
  padding: 20px;
  align-items: center;
  cursor: pointer;
}
.card-head3 {
  display: flex;
  justify-content: center;
  box-shadow: 0 0.375rem 0.875rem 0 rgba(0, 0, 0, 0.13),
    0 0.0625rem 0.25rem 0 rgba(0, 0, 0, 0.11) !important;
  padding: 20px;
  align-items: center;
  cursor: pointer;
}

.card-head1 i,
.card-head2 i,
.card-head3 i {
  margin-right: 10px;
}

.card-body1 > div,
.card-body1 h3,
.card-body1 i,
.card-body1 a {
  background: transparent;
  color: white;
}
.card-body2 > div,
.card-body2 h3,
.card-body2 i,
.card-body2 a {
  background: transparent;
  color: white;
}
.card-body3 > div,
.card-body3 h3,
.card-body3 i,
.card-body3 a {
  background: transparent;
  color: white;
}

.card-body-content {
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: center;
  justify-content: flex-start;
}

.link,
.card-body-content h3 {
  margin: none;
}

.link i {
  background: transparent;
  color: white !important;
}

.link-light:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.btn-orange {
  display: block;
  padding: 12px;
  background: white !important;
  color: #d83b01 !important;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 80%;
  text-align: center;
  font-weight: 600;
}
.btn-light-blue {
  display: block;
  padding: 12px;
  background: white !important;
  color: #0078d4 !important;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 80%;
  text-align: center;
  font-weight: 600;
}
.btn-violet {
  display: block;
  padding: 12px;
  background: white !important;
  color: #7719aa !important;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 80%;
  text-align: center;
  font-weight: 600;
}

.grid-2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.connect-text p {
  margin-top: 10px;
}

.margin {
  margin-top: 4rem !important;
}

.collaborate {
  width: 100%;
  height: 100vh;
  margin-top: 7rem;
  margin-bottom: 2rem;
}

#wid-500 {
  max-width: 550px;
  margin: auto;
}

.landing-view2 {
  margin-top: 6rem;
  background: url("./img/M365-Footer.jpg") no-repeat center center/cover !important;
}

.landing-content2 {
  position: absolute;
  width: 500px;
  height: 400px;
  top: 50%;
  right: 5%;
  transform: translate(-10%, -50%);
  background: transparent;
}

.landing-content2 h3 {
  font-size: 1.5rem;
  text-align: center;
}

.social2 {
  margin: 5rem 0px;
}

.footer {
  margin: 5rem 0;
}

.product-dropdown-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  line-height: 3;
  border-bottom: 3px solid black;
  background: rgba(238, 238, 238, 0.99);
  position: absolute;
  padding: 10px 20px;
  top: 10vh;
  left: 15%;
  display: none;
}
.product-dropdown-container > div h3 {
  font-size: 1rem;
  font-weight: 620;
  color: black;
}

.product-dropdown-container > div ul li a {
  font-size: 14px;
}

.product-dropdown-container > div ul li a:hover {
  text-decoration: underline;
}

.resource-dropdown-container {
  display: flex;
  flex-direction: column;
  line-height: 3;
  position: absolute;
  top: 10vh;
  left: 32.8%;
  border-bottom: 3px solid black;
  z-index: 1000;
  background: rgba(238, 238, 238, 0.99);
  font-size: 14px;
  padding: 20px;
  display: none;
}

.resource-dropdown-container > a {
  background-color: transparent;
}

.support-dropdown-container {
  display: flex;
  flex-direction: column;
  line-height: 3;
  position: absolute;
  top: 10vh;
  left: 44.7%;
  border-bottom: 3px solid black;
  z-index: 1000;
  background: rgba(238, 238, 238, 0.99);
  font-size: 14px;
  padding: 20px;
  display: none;
}

.support-dropdown-container > a {
  background-color: transparent;
}

#product a:focus,
#resource a:focus,
#support a:focus {
  background-color: rgba(238, 238, 238, 0.99) !important;
}

.nav-links2 {
  display: none;
  flex-direction: column;
  line-height: 2;
  position: absolute;
  top: 10vh;
  left: 0;
  z-index: 100;
  width: 100%;
}

.nav-links2-content {
  background: rgba(238, 238, 238, 0.99);
  border-bottom: 2px solid black;
  display: none;
}
.nav-links2-head {
  padding: 6px;
  width: 100%;
  background: white;
  border-top: 1px solid rgb(228, 228, 228);
  cursor: pointer;
}

.nav-links2-content ul li a {
  padding: 6px;
  display: block;
  border: 1px solid rgb(228, 228, 228);
}

.nav-microsoft-active {
  display: block;
}
